<div id="<%= dom_id relationship %>">
  <p>
    <strong>Relationship Type:</strong>
    <%= relationship.relationship_type %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= relationship.active %>
  </p>

</div>
