<h1>Editing legal guardian</h1>

<%= render "form", legal_guardian: @legal_guardian %>

<br>

<div>
  <%= link_to "Show this legal guardian", @legal_guardian %> |
  <%= link_to "Back to legal guardians", legal_guardians_path %>
</div>
