@use 'variables/colors';

main {
  margin-top: 1%;
  margin-left: 8%;
  margin-right: 8%;
  min-height: 48rem;
  padding: 5px;
  border-radius: 15px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card-div {
  border-radius: 15px;
}

footer {
  text-align: center;
  font-size: small;
  padding-top: 2rem;
}

.full-screen {
  padding: 2rem;
}

.bg-header {
  background: #79baf0;
}

.bg-light-blue {
  background: #f5fafe;
}